:root {
  /*------Color variables------*/
  --black_900: #000000;
  --blue_gray_200: #b8c2ce;
  --gray_50: #f9fafc;
  --gray_700: #696767;
  --gray_900: #262626;
  --gray_900_99: #26262699;
  --red_a700: #e10000;
}
